body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#text {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 99;
    background-color: rgb(255, 255, 255);
}

#text input {
    width: 100%;
    padding: 5px;
}

#options {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
}

#options div {
    margin: 10px;
}

#options{
    border: 1px solid black;
    border-radius: 10px;
}

#options label{
    display: block;
}

#options input{
    width: 100px;
}

canvas {
    /* background-color: black; */
}